<%- include('header') -%>

<p>Mes QCMS disponibles</p>
<ul>
    <% for (let qcm of qcms) { %> <!--commencer le parcours de la liste qcms -->
    <li><%= qcm %></li> <!-- afficher l'élément de la liste -->
    <% } %> <!-- penser à fermer le corps de la boucle -->
</ul>

<%- include('footer') -%>
